# dependencies
node_modules/

# next build outputs
.next/
out/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# local env
.env
.env.local
.env.*.local

# macOS
.DS_Store

# typescript cache
tsconfig.tsbuildinfo
